@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200..700&display=swap');
*{
    margin:0;
    padding:0;
    line-height: 1;
    box-sizing: border-box;
}
body{
    background: url('../pics/bg-body.png');
}
.header{
  font-family: "Lobster", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: xx-large;
  margin: 40px 0;
  padding: 30px 0;
  color: rgb(67, 184, 21);
  text-align: center;
  background-color: whitesmoke;
  border-top: 1px dashed grey;
  border-bottom: 1px dashed grey;
}
.container{
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.menu{
    width: 15%;
    float:left;
    background: url('../pics/bg-menu.jpg');
    padding-bottom: 500rem;
    margin-bottom: -500rem;
}

.content{
    width: 70%;
    float: left;
}

.sidebar{
    width: 15%;
    float: left;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
}

ul{
    list-style: none;
}

.menu ul{
    color: white;
    margin: 10px;
}

.menu ul li{
    border-bottom: 1px dashed whitesmoke;   
}

.menu ul li:hover{
    background-color: rgb(67, 184, 21);
}