@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@200..700&display=swap');
*{
    margin:0;
    padding:0;
    line-height: 1;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    background: url('../pics/bg-body.png');
}
.header{
  font-family: "Lobster", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2rem;
  margin: 40px 0;
  padding: 30px 0;
  color: rgb(67, 184, 21);
  text-align: center;
  background-color: whitesmoke;
  border-top: 1px dashed grey;
  border-bottom: 1px dashed grey;
}
.container{
  margin: 0 auto;
  max-width: 1000px;
  overflow: hidden;
  width: 95%;
  margin-bottom: 50px;
}

.container::after, .boxes::after, .lepteto::after{
    content: "";
    clear: both;
    display: table;
}

.menu{
    width: 15%;
    float:left;
    background: url('../pics/bg-menu.jpg');
    padding-bottom: 500rem;
    margin-bottom: -500rem;
}

.content{
    width: 70%;
    float: left;
    padding: 0 10px;
}

.sidebar{
    width: 15%;
    float: left;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
}

ul{
    list-style: none;
}

.menu ul{
    color: white;
    margin: 10px;
}

.menu ul li{
    border-bottom: 1px dashed whitesmoke;   
}

.menu ul li:hover{
    background-color: rgb(67, 184, 21);
}

.sidebar ul li{
    border-bottom: 1px solid grey;
} 

.sidebar ul li:hover{
    background-color: whitesmoke;
}

.sidebar ul li a {
    display: inline-block;
    padding: 20px 0;
    text-decoration: none;
    color: grey;
}

.box{
    width: 50%;
    float: left;
    padding: 0% 10px;
    padding-bottom: 20px;
}

.recept{
    padding: 10px;
    background-color: whitesmoke;
}

.recept h2{
    padding: 10px 0;
}

.recept p{
    line-height:1rem ;
}

.lepteto ul li{
    float: left;
    padding: 0 8px;   
}

.lepteto ul li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 2px 4px;
    background-color: whitesmoke;
    border: 1px solid grey;
    font-size: .8rem;
}

.lepteto ul{
    padding-left: 5px;
}

.lepteto ul li:first-child a {
    color: white;
    background-color: black;
}

@media (max-width:700px){
    .content{
        background-color:rgb(67, 184, 21) ;
    }
}